<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.db.com">
                        Bit Rebels
                    </a>
                </li>
                <li>
                    <a href="https://www.db.com/company/index.htm">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="https://www.db.com/company/en/legal-resources.htm">
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made with dedication by
            <a href="https://www.db.com" target="_blank">Bit Rebels</a> for a better and sustainable world.
        </div>
    </div>
</footer>
