<div class="main-content">
    <div class="container-fluid">
        <div class="card card-plain">
            <div class="row">
                <div class="col-md-12">
                    <div class="card-body invest-card-body">
                        <div class="iframe-container d-none d-lg-block">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="card card-stats news-card" (click)="redirectToNewsRoom()">
                                        <div class="card-header card-header-warning card-header-icon">
                                            <div class="card-icon news-icon">
                                                <img class="news-logo"
                                                    src="https://assets.change.org/photos/6/ub/kv/WcubKVaCMpQIGUE-800x450-noPad.jpg?1540785427">
                                            </div>
                                            <p class="card-category">08 October 2019</p>
                                            <h3 class="card-title">Mumbai’s climate and ecology in danger.</h3>
                                        </div>
                                        <div class="card-body">
                                            <p class="card-category">By signing this petition, you are asking JICA to
                                                review the funding given to the project. It should comment on the issue
                                                and By shifting the depot out of Aarey, Mumbai will not only get a metro
                                                but also retain its green, open space. And we are sure in consideration
                                                of its policies, JICA will also help in putting an end to further loss
                                                of land in Aarey to various other big and small projects.</p>
                                           
                                        </div>
                                        <div class="card-footer">
                                            <mat-chip-list>
                                                <mat-chip class="news-mat-chip"
                                                    (click)="signPetition('https://www.change.org/p/cm-devendra-fadnavis-jica-stop-the-cutting-of-3500-trees-in-aarey-forest?source_location=topic_page')">
                                                    Sign Petition
                                                </mat-chip>
                                            </mat-chip-list>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="card card-stats news-card" (click)="redirectToNewsRoom()">
                                        <div class="card-header card-header-success card-header-icon">
                                            <div class="card-icon news-icon">
                                                <img class="news-logo"
                                                    src="https://assets.change.org/photos/0/nd/by/BrNdByUisxtwVFI-800x450-noPad.jpg?1533012957"
                                                    />
                                            </div>
                                            <p class="card-category">09 October 2019</p>
                                            <h3 class="card-title">Protect the afforestation attempts of Auroville</h3>
                                        </div>
                                        <div class="card-body">
                                            <p class="card-category">Petition against the Villupuram
                                                District Collector and the Minister of State for Highways to use the
                                                existing highways and bypass roads. The proposed new 4-lane bypass will
                                                destroy the carefully nurtured local environment. There is no need of
                                                this new highway cutting through the area since there are two other
                                                effective highways very close by and a Pondicherry bypass already
                                                exists.</p>

                                        </div>
                                        <div class="card-footer">
                                            <mat-chip-list>
                                                <mat-chip class="news-mat-chip"
                                                    (click)="signPetition('https://www.change.org/p/protect-the-afforestation-attempts-of-auroville?source_location=topic_page')">
                                                    Sign Petition
                                                </mat-chip>
                                            </mat-chip-list>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="card card-stats news-card" (click)="redirectToNewsRoom()">
                                        <div class="card-header card-header-warning card-header-icon">
                                            <div class="card-icon news-icon">
                                                <img class="news-logo"
                                                    src="https://assets.change.org/photos/6/zc/wk/SgzcwKvausSDErZ-800x450-noPad.jpg?1534680872"/>
                                            </div>
                                            <p class="card-category">10 October 2019</p>
                                            <h3 class="card-title">Jim Corbett National Park</h3>
                                        </div>
                                        <div class="card-body">
                                            <p class="card-category">We request all environmentalist and citizen
                                                concerned about safety of environment to sign this petition and make it
                                                reach maximum signature to stop construction of road right through the
                                                Jim Corbett National Park.
                                            </p>

                                        </div>
                                        <div class="card-footer">
                                            <mat-chip-list>
                                                <mat-chip class="news-mat-chip"
                                                    (click)="signPetition('https://www.change.org/p/ministry-of-environment-forests-government-of-india-stop-the-road-going-right-through-one-of-india-s-most-rich-elephant-and-tiger-habitats?source_location=topic_page')">
                                                    Sign Petition
                                                </mat-chip>
                                            </mat-chip-list>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="card card-stats news-card" (click)="redirectToNewsRoom()">
                                        <div class="card-header card-header-success card-header-icon">
                                            <div class="card-icon news-icon">
                                                <img class="news-logo"
                                                    src="https://assets.change.org/photos/4/ds/ab/UEDSaBfoLZVfjGn-800x450-noPad.jpg?1544817189"/>
                                            </div>
                                            <p class="card-category">10 October 2019</p>
                                            <h3 class="card-title">Politicians against Air Pollution</h3>
                                        </div>
                                        <div class="card-body">
                                            <p class="card-category">Let us join our hands to put pressure on our
                                                politicians to include curbing air pollution as an agenda in their
                                                election manifesto. We need to make them accountable.

                                                We have to leave a better world for our future generations!</p>

                                        </div>
                                        <div class="card-footer">
                                            <mat-chip-list>
                                                <mat-chip class="news-mat-chip"
                                                    (click)="signPetition('https://www.change.org/p/all-political-parties-in-india-politicians-for-air-pollution?source_location=topic_page')">
                                                    Sign Petition
                                                </mat-chip>
                                            </mat-chip-list>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>