<div class="main-content">
    <div class="container-fluid">
        <div class="card card-plain">
            <div class="card-header invest-card-header">
                <h2 class="card-title invest-card-title">Invest in Green Technology - The Future is now</h2>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card-body invest-card-body">
                        <div class="iframe-container d-none d-lg-block">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-6">
                                        <div class="card card-stats" (click)="redirectToMutualFunds()">
                                            <div class="card-header card-header-warning card-header-icon">
                                                <div class="card-icon">
                                                    <img class="company-logo" src="/assets/img/logos/invesco.png" />
                                                </div>
                                                <p class="card-category">15.1% Returns - 3 yrs</p>
                                                <h3 class="card-title">Invesco CleanTech</h3>
                                            </div>
                                            <div class="card-footer">
                                                <mat-chip-list>
                                                    <mat-chip>MODERATELY HIGH</mat-chip>
                                                    <mat-chip>LARGE CAP</mat-chip>
                                                </mat-chip-list>                                            
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-6">
                                        <div class="card card-stats" (click)="redirectToMutualFunds()">
                                            <div class="card-header card-header-success card-header-icon">
                                                <div class="card-icon">
                                                    <img class="company-logo" src="/assets/img/logos/first_solar.png" />
                                                </div>
                                                <p class="card-category">13.2% Returns</p>
                                                <h3 class="card-title">First Solar</h3>
                                            </div>
                                            <div class="card-footer">
                                                <mat-chip-list>
                                                    <mat-chip>MODERATELY HIGH</mat-chip>
                                                    <mat-chip>LARGE CAP</mat-chip>
                                                </mat-chip-list>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-6">
                                        <div class="card card-stats" (click)="redirectToMutualFunds()">
                                            <div class="card-header card-header-success card-header-icon">
                                                <div class="card-icon">
                                                    <img class="company-logo" src="/assets/img/logos/idacorp.png" />
                                                </div>
                                                <p class="card-category">10.9% Returns - 3 yrs</p>
                                                <h3 class="card-title">Idacorp</h3>
                                            </div>
                                            <div class="card-footer">
                                                <mat-chip-list aria-label="Fish selection">
                                                    <mat-chip>MODERATELY HIGH</mat-chip>
                                                    <mat-chip>MULTI CAP</mat-chip>
                                                </mat-chip-list>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-6">
                                        <div class="card card-stats" (click)="redirectToMutualFunds()">
                                            <div class="card-header card-header-warning card-header-icon">
                                                <div class="card-icon">
                                                    <img class="company-logo" src="/assets/img/logos/marine_harvest.jpg" />
                                                </div>
                                                <p class="card-category">12.4% Returns</p>
                                                <h3 class="card-title">Marine Harvest ASA</h3>
                                            </div>
                                            <div class="card-footer">
                                                <mat-chip-list>
                                                    <mat-chip>MODERATELY HIGH</mat-chip>
                                                    <mat-chip>LARGE CAP</mat-chip>
                                                </mat-chip-list>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-6">
                                        <div class="card card-stats" (click)="redirectToMutualFunds()">
                                            <div class="card-header card-header-success card-header-icon">
                                                <div class="card-icon">
                                                    <img class="company-logo" src="/assets/img/logos/sunpower.jpg" />
                                                </div>
                                                <p class="card-category">11.2% Returns - 5 yrs</p>
                                                <h3 class="card-title">Sunpower Corp</h3>
                                            </div>
                                            <div class="card-footer">
                                                <mat-chip-list>
                                                    <mat-chip>MODERATELY HIGH</mat-chip>
                                                    <mat-chip>LARGE HIGH</mat-chip>
                                                </mat-chip-list>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-6">
                                        <div class="card card-stats" (click)="redirectToMutualFunds()">
                                            <div class="card-header card-header-success card-header-icon">
                                                <div class="card-icon">
                                                        <img class="company-logo" src="/assets/img/logos/covanta.png" />
                                                    </div>
                                                <p class="card-category">11.1 % Returns - 3 yrs</p>
                                                <h3 class="card-title">Covanta Holding Corp</h3>
                                            </div>
                                            <div class="card-footer">
                                                <mat-chip-list>
                                                    <mat-chip>MODERATELY HIGH</mat-chip>
                                                    <mat-chip>MULTI CAP</mat-chip>
                                                </mat-chip-list>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-6">
                                        <div class="card card-stats" (click)="redirectToMutualFunds()">
                                            <div class="card-header card-header-warning card-header-icon">
                                                <div class="card-icon">
                                                        <img class="company-logo" src="/assets/img/logos/ballard.jpg" />
                                                    </div>
                                                <p class="card-category">12.4% Returns - 3 yrs</p>
                                                <h3 class="card-title">Ballard Power Systems
                                                </h3>
                                            </div>
                                            <div class="card-footer">
                                                <mat-chip-list aria-label="Fish selection">
                                                    <mat-chip>MODERATELY HIGH</mat-chip>
                                                    <mat-chip>LARGE CAP</mat-chip>
                                                </mat-chip-list>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-6">
                                        <div class="card card-stats" (click)="redirectToMutualFunds()">
                                            <div class="card-header card-header-success card-header-icon">
                                                <div class="card-icon">
                                                        <img class="company-logo" src="/assets/img/logos/unfi.jpg" />
                                                    </div>
                                                <p class="card-category">9.2% Returns - 3 yrs</p>
                                                <h3 class="card-title">United Natural Foods</h3>
                                            </div>
                                            <div class="card-footer">
                                                <mat-chip-list>
                                                    <mat-chip>MODERATELY HIGH</mat-chip>
                                                    <mat-chip>MULTI CAP</mat-chip>
                                                </mat-chip-list>
                                            </div>
                                        </div>
                                    </div>
                                </div>                      
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>