<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">backup</i>
                      </div>
                      <p class="card-category">Sustainability Points</p>
                      <h3 class="card-title">{{sustinabilityPoints}}
                      </h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">date_range</i>
                          <a href="javascript:void(0)">October 2019</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">pets</i>
                      </div>
                      <p class="card-category">Karma Points</p>
                      <h3 class="card-title">{{karmaPoints}}</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">date_range</i> October 2019
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-success">
                      <div class="ct-chart" id="dailySalesChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Transport</h4>
                      <p class="card-category"><span class="text-success"> A </span>  - Flights</p>
                      <p class="card-category"><span class="text-success"> B </span>  - Trains or Bus</p>
                      <p class="card-category"><span class="text-success"> C </span>  - Personal Vehicle</p>
                      <p class="card-category"><span class="text-success"> D </span>  - Public Transport</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i>updated 4 minutes ago
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-warning">
                      <div class="ct-chart" id="websiteViewsChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Payments</h4>
                      <p class="card-category"><span class="text-success"> A </span>  - Electronic without print</p>
                      <p class="card-category"><span class="text-success"> B </span>  - ATM without print</p>
                      <p class="card-category"><span class="text-success"> C </span>  - ATM with print</p>
                      <p class="card-category"><span class="text-success"> D </span>  - Electronic with print</p>
                      <p class="card-category"><span class="text-success"> E </span> - Cheque</p>
                    </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i>updated just now
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-danger">
                      <div class="ct-chart" id="completedTasksChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Energy Consumption</h4>
                      <p class="card-category">Last energy consumption</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i>updated just now
                      </div>
                  </div>
              </div>
          </div>
      </div>
</div>
