<div class="main-content">
  <div class="container-fluid">
      <div class="card card-plain">
          <div class="card-header calc-card-header">
              <h2 class="card-title calc-card-title">Calculate your Carbon Foot Prints</h2>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <div class="card-body calc-card-body">
                      <div class="iframe-container d-none d-lg-block">
                        <iframe width="710" height="1300" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" src="https://calculator.carbonfootprint.com/calculator.aspx"></iframe>                      
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>